<IfModule mod_rewrite.c>
    <Files ~ "(\.php)$">
        deny from all
    </Files>
    <Files ~ "^(index\.php)">
        allow from all
    </Files>

    RewriteEngine on
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule . index.php [L]
</IfModule>
