services:
  narourb:
    image: ghcr.io/mkaraki/narou.rb:minimal
    restart: always
    ports:
      - 8000:8000
      - 8001:8001
    volumes:
      - ./data:/opt/narou

  webview:
    build: .
    ports:
      - 3001:3001
    volumes:
      - ./data:/data:ro
    restart: always
