.novelview p {
  margin: 0;
}

a:visited {
  color: palevioletred;
}

.loadscr {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -100;
}

.read-container {
  max-width: 700px;
}

h1, h2, h3 {
  > small.heading-prefix {
    display: block;
    font-weight: bold;
    font-size: 12pt;
    text-transform: uppercase;
  }
}